/* Core elements */

body {
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  padding: 5%;
}

.light-sec-bg {
  background-color: #f5edce;
}

.dark-sec-bg {
  background-color: #0081b4;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 600;
}

h2 {
  padding: 5%;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

p {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  padding: 2%;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #2b3467;
  -moz-box-shadow: 1px 1px 3px #2b3467;
  box-shadow: 1px 1px 3px #2b3467;
  color: #f5edce;
  font-size: 1.4rem;
  padding: 1% 2% 1% 2%;
  border: solid #2b3467 2px;
  text-decoration: none;
  background-color: #0081b4;
}

.btn:hover {
  background-color: #f5edce;
  text-decoration: none;
  color: #2b3467;
  cursor: pointer;
}

/* Header */

#header {
  background-color: #0081b4;
  padding: 2%;
  font-size: 1.4rem;
  color: #f5edce;
}

.header p {
  text-align: left;
  padding: 0%;
  line-height: 1.2;
}

.NZlogo {
  font-size: 3rem;
  font-family: "Arizonia", cursive;
  padding-left: 6%;
  color: #f5edce;
}

.NZlogo:hover {
  color: #2b3467;
}

.nav-link {
  color: #f5edce;
}

.nav-link:hover {
  color: #2b3467;
}

/* Teaser */

.myimage {
  width: 60%;
  border: 8px solid #f5edce;
  box-shadow: 0 4px 8px 0 #2b3467, 0 6px 20px 0 #2b3467;
  border-radius: 100%;
}

/* What I offer */

.section1 p,
h2 {
  color: #2b3467;
  text-align: center;
}

.section1 img {
  width: 30%;
  padding: 2%;
}

/* Resume */

.section2 h2,
p {
  color: #f5edce;
  text-align: center;
}

/* Portfolio */

.section3 h5,
p {
  color: #f5edce;
}

.carousel-inner a {
  text-decoration: none;
}

/* Contact */

.section4 h2 {
  color: #f5edce;
}

.section4 .btn {
  width: 100%;
  margin-top: 3%;
}

/* Footer */

.footer {
  color: #f5edce;
  text-align: center;
}

.footer p {
  font-size: 0.9rem;
}

.footer a {
  text-decoration: none;
  color: #f5edce;
  padding: 2%;
  font-weight: 600;
}

.footer a:hover {
  color: #2b3467;
}
